{% extends 'base.html.twig' %}


{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/map.css')}}">
       
{% endblock %}
{% block body %}
    {{semaforos}}
   
   
    <a href="{{ path('semaforo_index') }}">Volver al listado</a>
    <div id="lala"></div>
{% endblock %}
{% block javascripts %}
        <script type="text/javascript" src="{{ asset('lib/js/mapa.js') }}"></script>
       
         <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG94jyox5HGY9k-ajWQdzJsePe81moRhY">
         </script>
          <script type="text/javascript" src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
          <script>
            window.onload = function() {
            initialize();
            mostrar({{semaforos}});
            };
         </script>
{% endblock %}